
<div class="container custom-footer-container">
    <div class="row g-4 justify-content-between">
        <div class="col-12 col-md-4">
            <h5 class="footer-brand-title">CERTUS Connect</h5>
            <p class="footer-brand-subtitle">Red social para alumnos y egresados de TI</p>
            <div class="footer-social-wrapper">
                <p class="social-label">Mantente en contacto:</p>
                <div class="social-icons-row">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-lg-1-5">
            <h6 class="footer-list-title">Producto</h6>
            <ul class="footer-links-list">
                <li><a href="#">Funciones</a></li>
                <li><a href="#">Integraciones</a></li>
                <li><a href="#">Empresas</a></li>
            </ul>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-lg-1-5">
            <h6 class="footer-list-title">Precios</h6>
            <ul class="footer-links-list">
                <li><a href="#">Versión gratis</a></li>
                <li><a href="#">Comparar</a></li>
            </ul>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-lg-1-5">
            <h6 class="footer-list-title">Instituto</h6>
            <ul class="footer-links-list">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Empleos</a></li>
                <li><a href="#">Eventos</a></li>
            </ul>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-lg-1-5">
            <h6 class="footer-list-title">Recursos</h6>
            <ul class="footer-links-list">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Centro de Soporte</a></li>
            </ul>
        </div>
    </div>
</div>